@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --ui-primary: var(--color-green-500);
  --ui-color-primary-50: var(--color-green-50);
  --ui-color-primary-100: var(--color-green-100);
  --ui-color-primary-500: var(--color-green-500);
  --ui-color-primary-600: var(--color-green-600);
  --ui-color-primary-700: var(--color-green-700);
}